- name: Checking system updates
  apt:
    update_cache: true

- name: Changing instance hostname
  ansible.builtin.hostname:
    name: "{{ instance_name }}"

- name: Downloading and executing Docker installation repository
  shell: curl -fsSL '{{ repo_docker }}' | bash

- name: Adding ubuntu user to Docker group
  user:
    name: ubuntu
    groups: docker
    append: yes

- name: Moving configuration file
  copy:
    src: '{{ repo_utils }}'
    dest: '{{ repo_dest }}'
    mode: '777'
  when: not (ansible_check_mode | bool)

- name: Installing Open vSwitch
  apt:
    name: openvswitch-switch
    state: present

- name: Running Docker container with network topology
  shell: ./'{{ repo_start }}'

- name: Confirming containers execution
  shell: sleep 10
  changed_when: true